@{
    ViewData["Title"] = "Giriş";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Supper CRM Giriş</h4>
                    <div class="row mt-3">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form role="form" class="text-start">
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Kullanıcı Adı</label>
                        <input id="username" type="text" class="form-control">
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Şifre</label>
                        <input id="password" type="password" class="form-control">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn bg-gradient-primary w-100 my-4 mb-2" onclick="login()">Giriş</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
        function login() {
            //aranacak userame ve password bilgilerini alıyoruz
            var fusername = $("#username").val();
            var fpassword = $("#password").val();

            //aranacak userame ve password bilgilerini alıyoruz
            var data = {
                "username": fusername,
                "password": fpassword
            };

            $.ajax({
                method: "post",
                url: "/Account/Login",
                data: data,
            }).done(function (result) {
                if (result.error == true) {
                    for (var i in result.errors) {
                        var err = result.errors[i];
                        console.log(err);
                        $("#" + err.key.toLowerCase()).parent().addClass(" is-invalid ");
                        toastr.error(err.value, "Hata");
                    }
                } else {
                    //başarı mesajı göster ve modal kapat
                    toastr.success(result.success, "Başarılı Giriş");
                    setTimeout(function () {
                        window.location ="/";
                    }, 1200);
                }
            });
        }
</script>


}