@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-1">Welcome</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core  </a>.</p>
    <img src="~/assets/img/ivancik.jpg" alt="ivancik" width="1920" height="960">
</div>
